#nav-bar {
  background-color: #00a087;
  color: #e8fdff;
  padding-left: 2em;
  padding-right: 2em;
  height: 80px;

}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  margin-right: 10px;
  float : left;
}


#nav-bar .header {
  font-size: 2rem;
  line-height: 80px;
  float : left;
}