


.container {
  display: flex;
  justify-content: center;

}

.container h2 {
  margin: 0px 0px;
  border-bottom: solid;
  border-width: thin;
}


.container textarea {
  width: 380px;

}


.new-tweet {
  padding: 10px 2em;
  background-color: #E9E9F0;
  width: 450px;
  border-radius: 7px;
  border: solid;
  border-color: gray;
  margin-top: 50px;
}

.container textarea {
  margin-top: 10px;
  padding: 10px;
}

span.counter {
  float: right;
}